*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { 
    min-height: 100vh; 
    background-image: url("../iam/cool-background\ \(1\).png");
}
.logo{
    width: 600px ;
    height: 300px;
    border: solid 1px black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left:  700px;
    
}
.products{
    width: 600px ;
    height: 150px;
    border: solid 1px black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left:  700px;
}
.contacts{
    width: 600px ;
    height: 150px;
    border: solid 1px black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left:  700px;
}
.box{
    border: solid 1px black;
    width: 100px ;
    height: 100px;
    float: left;
    padding: 50px;
    margin: 20px;
}
.facebook{
    width: 50px ;
    height: 50px; 
    background-image: url(../iam/logo-facebook.png);
    background-size: cover;
}
.insta{
    width: 50px ;
    height: 50px; 
    background-image: url(../iam/logo-instagram.png);
    background-size: cover;
}
.call{
    width: 50px ;
    height: 50px; 
    background-image: url(../iam/call-outline.png);
    background-size: cover;
}
.email{
    width: 50px ;
    height: 50px; 
    background-image: url(../iam/mail-outline.png);
    background-size: cover;
}